.hero-banner {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  color: white;
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
}
